<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/index.css">
    <style>
        .float-right {
            float: right !important;
        }
    </style>
</head>
<body>
<div id="app">
    <el-container>
        <el-header>
            <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
                <el-menu-item index="0">招聘动态</el-menu-item>
                <el-menu-item class="float-right" v-if="!user">
                    <el-link type="primary" @click="dialogLoginFormVisible = true">登录</el-link>
                </el-menu-item>
                <el-submenu index="1" class="float-right" v-else>
                    <template slot="title">${ user.username }$</template>
                    <el-menu-item index="1-1" v-if="user.type == 0">
                        修改个人资料
                    </el-menu-item>
                    <el-menu-item index="1-2" v-if="user.type >= 1">
                        发布招聘动态
                    </el-menu-item>
                    <el-menu-item index="1-3" v-if="user.type >= 1">
                        查看学生状态
                    </el-menu-item>
                    <el-menu-item v-if="user.type >= 2">
                        <el-link type="info" href="/admin" target="_blank">进入管理后台</el-link>
                    </el-menu-item>
                    <el-menu-item>
                        <el-link type="danger" @click="logout">注销</el-link>
                    </el-menu-item>
                </el-submenu>
            </el-menu>

            <el-dialog title="登录" :visible.sync="dialogLoginFormVisible">
                <el-form :model="loginForm" :rules="loginFormRules" ref="loginForm" status-icon label-width="100px">
                    <el-form-item label="用户名" prop="username">
                        <el-input type="text" v-model="loginForm.username" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="密码" prop="password">
                        <el-input type="password" v-model="loginForm.password" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="warning" @click="dialogRegisterFormVisible = true">注册</el-button>
                        <el-button type="primary" @click="submitForm('loginForm')" class="float-right">登录</el-button>
                    </el-form-item>
                </el-form>
            </el-dialog>

            <el-dialog title="注册" :visible.sync="dialogRegisterFormVisible">
                <el-form :model="registerForm" :rules="registerFormRules" ref="registerForm" status-icon
                         label-width="100px">
                    <el-form-item label="用户名" prop="username">
                        <el-input type="text" v-model="registerForm.username" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="密码" prop="password">
                        <el-input type="password" v-model="registerForm.password" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="确认密码" prop="checkPassword">
                        <el-input type="password" v-model="registerForm.checkPassword" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="姓名" prop="name">
                        <el-input type="text" v-model="registerForm.name" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="性别">
                        <el-radio-group v-model="registerForm.gender">
                            <el-radio label="0">男</el-radio>
                            <el-radio label="1">女</el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="学院名称" prop="college">
                        <el-input type="text" v-model="registerForm.college" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="专业名称" prop="major">
                        <el-input type="text" v-model="registerForm.major" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="就业状态">
                        <el-radio-group v-model="registerForm.status">
                            <el-radio label="0">待业</el-radio>
                            <el-radio label="1">就业</el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="就职单位名称" prop="employment" v-if="registerForm.status == 1">
                        <el-input type="text" :rows="2" v-model="registerForm.employment" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="submitForm('registerForm')">提交</el-button>
                        <el-button @click="resetForm('registerForm')">重置</el-button>
                    </el-form-item>
                </el-form>
            </el-dialog>
        </el-header>
        <el-main>
            <transition name="el-zoom-in-top">
                <el-timeline v-show="activeIndex === '0'">
                    <el-timeline-item :timestamp="post.time" placement="top" v-for="post in posts"
                                      :key="post.id">
                        <el-card>
                            <h4>${ post.title }$</h4>
                            <p>${ post.content }$</p>
                        </el-card>
                    </el-timeline-item>
                </el-timeline>
            </transition>
        </el-main>
        <!-- TODO: footer view -->
        <el-footer>Footer</el-footer>
    </el-container>
</div>
</body>
<script src="static/js/common.js"></script>
<!-- import Vue before Element -->
<script src="static/js/vue.js"></script>
<!-- import JavaScript -->
<script src="static/js/index.js"></script>
<script>
    let app = new Vue({
        delimiters: ['${', '}$'],
        el: '#app',
        data: function () {
            let validateCheckPassword = (rule, value, callback) => {
                if (value !== this.registerForm.password) {
                    callback(new Error('两次输入密码不一致'));
                } else {
                    callback();
                }
            };
            let validateUserName = (rule, value, callback) => {
                fetch('/users/' + value + '/exists')
                    .then((resp) => resp.json())
                    .then((json) => {
                        if (json.exists) {
                            callback(new Error('用户名已存在'));
                        } else {
                            callback();
                        }
                    });
            };
            let validateEmployment = (rule, value, callback) => {
                if (this.registerForm.status !== 0 && value === '') {
                    callback(new Error('请输入就职单位名称'));
                } else {
                    callback();
                }
            };
            return {
                activeIndex: '0',
                posts: [],
                user: null,
                dialogLoginFormVisible: false,
                dialogRegisterFormVisible: false,
                loginForm: {
                    username: '',
                    password: ''
                },
                registerForm: {
                    username: '',
                    password: '',
                    checkPassword: '',
                    name: '',
                    gender: '0',
                    college: '',
                    major: '',
                    status: '0',
                    employment: ''
                },
                loginFormRules: {
                    username: [
                        {required: true, message: '请输入用户名', trigger: 'blur'}
                    ],
                    password: [
                        {required: true, message: '请输入密码', trigger: 'blur'}
                    ]
                },
                registerFormRules: {
                    username: [
                        {required: true, message: '请输入用户名', trigger: 'blur'},
                        {validator: validateUserName, trigger: 'blur'}
                    ],
                    password: [
                        {required: true, message: '请输入密码', trigger: 'blur'},
                        {validator: validateCheckPassword, trigger: 'blur'}
                    ],
                    checkPassword: '',
                    name: [
                        {required: true, message: '请再次输入密码', trigger: 'blur'}
                    ],
                    gender: [
                        {required: true, message: '请选择性别', trigger: 'blur'}
                    ],
                    college: [
                        {required: true, message: '请输入学院名称', trigger: 'blur'}
                    ],
                    major: [
                        {required: true, message: '请输入专业名称', trigger: 'blur'}
                    ],
                    status: [
                        {required: true, message: '请输入就业状态', trigger: 'blur'}
                    ],
                    employment: [
                        {validator: validateEmployment, trigger: 'blur'}
                    ]
                }
            }
        },
        created: function () {
            this.userInfo();
            fetch('/posts')
                .then((resp) => resp.json())
                .then((json) => {
                    for (let post of json.data) {
                        post.time = new Date(post.update_time).format("yy-M-d H:m:s");
                    }
                    this.posts = json.data;
                });
        }, methods: {
            handleSelect(key, keyPath) {
                this.activeIndex = key ? key : '0';
            }, submitForm(formName) {
                let action = {
                    loginForm: () => {
                        let {username, password} = this.loginForm;
                        let form = new FormData();
                        form.append('username', username);
                        form.append('password', password);
                        fetch('/auth/login', {
                            method: 'POST',
                            body: form
                        })
                            .then((resp) => resp.json())
                            .then((result) => {
                                if (result.success) {
                                    this.user = result.user;
                                    this.$message({message: result.message, type: 'success'});
                                    this.resetForm('loginForm');
                                    this.dialogLoginFormVisible = false;
                                } else {
                                    this.$message({message: result.message, type: 'error'});
                                }
                            });
                    },
                    registerForm: () => {
                        let {username, password, name, gender, college, major, status, employment} = this.registerForm;
                        let form = new FormData();
                        form.append('username', username);
                        form.append('password', password);
                        form.append('name', name);
                        form.append('gender', gender);
                        form.append('college', college);
                        form.append('major', major);
                        form.append('status', status);
                        form.append('employment', employment);
                        fetch('/auth/register', {
                            method: 'POST',
                            body: form
                        })
                            .then((resp) => resp.json())
                            .then((result) => {
                                if (result.success) {
                                    this.$message({message: result.message, type: 'success'});
                                    this.dialogRegisterFormVisible = false;
                                } else {
                                    this.$message({message: result.message, type: 'error'});
                                }
                            });
                    }
                }
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        action[formName]();
                        return true;
                    } else {
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            }, logout() {
                fetch('/auth/logout').then((resp) => {
                    if (resp.status == 200) {
                        this.$message({message: '登出账号成功', type: 'success'});
                        this.userInfo();
                    } else {
                        this.$message({message: '登出账号失败', type: 'error'});
                    }
                });
            }, admin() {
                window.open('/admin');
            }, userInfo() {
                fetch('/user')
                    .then((resp) => resp.json())
                    .then((json) => {
                        this.user = json;
                    })
                    .catch((error) => {
                        this.user = null;
                    });
            }
        }
    })
</script>
</html>