<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
<div id="app">
    <el-container>
        <el-header>
            <a href="/">首页</a>
            <el-button type="text" @click="dialogLoginFormVisible = true">登录</el-button>
            <el-dialog title="登录" :visible.sync="dialogLoginFormVisible">
                <el-form :model="loginForm" :rules="loginFormRules" ref="loginForm" status-icon label-width="100px">
                    <el-form-item label="用户名" prop="username">
                        <el-input type="text" v-model="loginForm.username" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="密码" prop="password">
                        <el-input type="password" v-model="loginForm.password" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="submitForm('loginForm')">提交</el-button>
                        <el-button @click="resetForm('loginForm')">重置</el-button>
                    </el-form-item>
                </el-form>
            </el-dialog>
        </el-header>
        <transition name="el-zoom-in-top">
            <el-main>
                <div class="posts">
                    <el-timeline>
                        <el-timeline-item :timestamp="post.time" placement="top" v-for="post in posts"
                                          :key="post.id">
                            <el-card>
                                <h4>${ post.title }$</h4>
                                <p>${ post.content }$</p>
                            </el-card>
                        </el-timeline-item>
                    </el-timeline>
                </div>
            </el-main>
        </transition>
        <el-footer>Footer</el-footer>
    </el-container>
    <el-backtop target="#app"></el-backtop>
</div>
</body>
<script src="static/js/common.js"></script>
<!-- import Vue before Element -->
<script src="static/js/vue.js"></script>
<!-- import JavaScript -->
<script src="static/js/index.js"></script>
<script>
    new Vue({
        delimiters: ['${', '}$'],
        el: '#app',
        data: function () {
            return {
                posts: [],
                dialogLoginFormVisible: false,
                loginForm: {
                    username: '',
                    password: ''
                },
                loginFormRules: {
                    username: [
                        {required: true, message: '请输入用户名', trigger: 'blur'}
                    ],
                    password: [
                        {required: true, message: '请输入密码', trigger: 'blur'}
                    ]
                }
            }
        },
        created: function () {
            fetch('/posts')
                .then((resp) => resp.json())
                .then((json) => {
                    for (let post of json.data) {
                        post.time = new Date(post.update_time).format("yy-M-d H:m:s");
                    }
                    this.posts = json.data;
                });
        }, methods: {
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        let {username, password} = this.loginForm;
                        let form = new FormData();
                        form.append('username', username);
                        form.append('password', password);
                        fetch('/auth/login', {
                            method: 'POST',
                            body: form
                        })
                            .then((resp) => resp.json())
                            .then((result) => {
                                if (result.success) {
                                    this.$message({message: result.message, type: 'success'});
                                    this.resetForm('loginForm');
                                    this.dialogLoginFormVisible = false;
                                } else {
                                    this.$message({message: result.message, type: 'error'});
                                }
                            })
                        return true;
                    } else {
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            }
        }
    })
</script>
</html>